# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#other stuff
/.idea/
data/
*.png
*.jpg
*.jpeg
*.shp
*.cpg
*.dbf
*.prj
*.shx
*.tif
*.gpkg
*.nbc
*.nbi
